body {    /*здесь выбрал, как показалось наиболее распространённый вид текста на всех страницах. выбрал шрифт названия товаров*/
  font-family: "Roboto Medium";
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: normal;
}

.h1 {                         /*прописал стили к установленным классам, а не к тэгам заголовков*/
  font-family: "Roboto Black";
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  font-weight: bold;
}

.h2 {
  font-family: "Roboto Bold";
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
}



